h1 {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 6em;
    color: #0000ff;
    font-size: 4em;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-family: 'Bebas Neue', sans-serif;
}
.one{
    padding-top: 6em;
}

.fade {
    scroll-behavior: smooth;
}
