h1 {
    height: 50vh;
    width: 100%;
    padding-top: 6em;
    padding-bottom: 6em;
    color: blue;
    font-size: 4em;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.fade {
    background-color: black;
    scroll-behavior: smooth;
    /* add gradient into blue bottom */
}

